<div class="about-img" id="anchor-about">
    <div class="img-placeholder img-placeholder-2"></div>
</div>

<div class="about-content">
    <h1> Sobre mí </h1>
    <p> Me llamo Jorge Landaeta, soy un desarrollador web FullStack venezolano. </p>
    <p> Actualmente me encuentro trabajando como Freelancer desde hace 2 años, llevando a cabo el desarrollo entero de las soluciones web requeridas por mis clientes.</p>
    <p> Me especializo principalmente en tecnologías del Stack MERN (MongoDB, Express, React, NodeJS), pero conservando las ganas de seguir aprendiendo nuevas tecnologías en el futuro cercano. </p>
    <p> ¿Buscas llevar tu negocio al siguiente nivel con la web? ¡Estaré encantado de ayudarte! </p>
    <a href="Curriculum.pdf" class="button cv-button"> Descargar CV </a>
</div>