<div class="cont">
    <div class="row">
        <div>
            <h2>Jorge Landaeta</h2>
            <p>
                "Los mejores desarrolladores de software son los que verdaderamente disfrutan mas con lo que hacen"
            </p>
        </div>

        <div>
            <h4>Páginas</h4>
            <ul>
                <li><a href="/#anchor-about">Sobre mí</a></li>
                <li><a href="/#anchor-works">Trabajos destacados</a></li>
                <li><a href="/contact">Contáctame</a></li>
                <li><a href="/user/register">Registrarse</a></li>
                <li><a href="/user/login">Iniciar sesión</a></li>
            </ul>
        </div>

        <div>
            <h4>Ayuda</h4>
            <ul>
                <li><a href="#">FAQ</a></li>
            </ul>

            <h4>Social</h4>
            <div class="social-media">
                <%- include('social') %>
            </div>   
        </div>
    </div>
</div>
<div class="copyright">
    <p>Copyright © 2023 All Right Reserved</p>
</div>