<div class="nav-title">
    <h1> <span class="text-focus">L</span>andaeta</h1>
</div>

<div class="nav-links" id="side-menu">
    <ul>
        <li> <a class="nav-link" data-text="Sobre mí" href="/#anchor-about"> Sobre mí </a> </li>
        <li> <a class="nav-link" data-text="Mis trabajos" href="/#anchor-works"> Mis trabajos </a> </li>

        <li><a class="button reg-button" href="/contact"> Contáctame </a></li>
    </ul>
</div>

<div class="side-menu-button">
    <button id="side-menu-button">
        <i class="bx bx-menu"></i>
    </button> 
</div>