<a class="social-button--facebook"><i class="bx bxl-facebook"></i></a>
<a class="social-button--instagram"><i class="bx bxl-instagram"></i></a>
<a class="social-button--twitter"><i class="bx bxl-twitter"></i></a>
<a target="_blank" href="https://github.com/LZJorge" class="social-button--github"><i class="bx bxl-github"></i></a>
<a class="social-button--linkedin"><i class="bx bxl-linkedin"></i></a>