<div class="featured-works-title">
    <h2> Trabajos destacados </h2>
    <p> En ésta sección encontraras una lista de mis trabajos más reconocidos junto a una breve descripción </p>
    <p> ¡No dudes en echarles un ojo! </p>
</div>

<div class="featured-works-content">

    <% for (let i=1; i<=4; i++) { %> 
        <div class="featured-works-card">
            <div class="card-img">

            </div>

            <h4 class="card-title">
                Card title <%=i%>
            </h4>

            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis molestiae necessitatibus ratione earum.</p>
        </div>
    <% } %> 

</div>