/*
* @Author Jorge Landaeta
*/
/*
* Colors
*/
/*
* Values
*/
/*
* Skills colors
*/
/*
* Social Vars
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Code+Pro&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, a, i, p {
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.9rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-focus {
  color: #6A7BFF;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.name {
  font-size: 3rem;
}

.mt {
  margin-bottom: 100px;
}

.mt-2 {
  margin-bottom: 150px;
}

.cols-3 {
  grid-column: span 3;
}

#info-anchor,
#education-anchor,
#skills-anchor,
#works-anchor {
  padding: 75px 0;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.2s;
  font-size: 1rem;
  cursor: pointer;
}

.button-primary {
  background-color: #6A7BFF;
  color: #fff;
}
.button-primary:hover {
  background-color: #4b5bd8;
}
.button-primary:active {
  background-color: #3747bb;
}

.button-secondary {
  background-color: #F07067;
  color: #fff;
}
.button-secondary:hover {
  background-color: #e7564c;
}
.button-secondary:active {
  background-color: #d34036;
}

.button-bordered {
  border: 1px solid #333;
  padding: 6px 18px;
}
.button-bordered:hover {
  color: #fff;
  background-color: #4b5bd8;
  border: 1px solid #4b5bd8;
}
.button-bordered:active {
  background-color: #3747bb;
  border: 1px solid #3747bb;
}

#button-contact {
  background-color: #F07067;
}
#button-contact i {
  font-size: 1rem;
}

.off {
  cursor: not-allowed;
}

nav {
  height: 60px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul.nav-ul {
  display: flex;
  align-items: center;
}
nav ul.nav-ul li {
  display: inline-block;
  margin: 0px 4px;
  padding: 0px 6px;
}
nav ul.nav-ul li a {
  display: inline-block;
  text-align: center;
  transition: all 0.2s;
}
nav ul.nav-ul li a::after {
  display: block;
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  font-weight: bold;
}
@media speech {
  nav ul.nav-ul li a::after {
    display: none;
  }
}
nav ul.nav-ul li a:hover {
  font-weight: bold;
  color: #6A7BFF;
}

header {
  width: 100%;
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  padding: 0 50px;
}
header .header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
header .header-info div {
  margin: 20px;
}
header .header-info #typing {
  border-right: 3px solid #333;
  -webkit-animation: typing infinite 1s;
          animation: typing infinite 1s;
}
header .header-img {
  position: relative;
}
header .header-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px 0 40px 0;
  border-radius: 12px;
  filter: drop-shadow(8px 8px 25px rgba(51, 51, 51, 0.3));
}

#typing {
  display: inline-block;
}
#typing::after {
  display: block;
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  font-weight: bolder;
}
@media speech {
  #typing::after {
    display: none;
  }
}

@-webkit-keyframes typing {
  0% {
    border-right: 3px solid #333;
  }
  50% {
    border-right: 3px solid transparent;
  }
  100% {
    border-right: 3px solid #333;
  }
}

@keyframes typing {
  0% {
    border-right: 3px solid #333;
  }
  50% {
    border-right: 3px solid transparent;
  }
  100% {
    border-right: 3px solid #333;
  }
}
.info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0;
  padding: 20px 20px;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 150px 0;
}
.info .info-img {
  position: relative;
}
.info .info-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.info .info-text {
  box-sizing: border-box;
  padding-right: 40px;
}
.info .info-text p {
  margin-top: 25px;
}

#me-box {
  z-index: 50;
  width: 100%;
  height: 380px;
  overflow: hidden;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#me-box img {
  width: 50%;
}

#bubble-box {
  z-index: 10;
}
#bubble-box img {
  width: 100%;
  filter: drop-shadow(8px 8px 25px rgba(51, 51, 51, 0.3));
}

.education {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 400px;
  gap: 25px;
  padding: 0 0;
  text-align: center;
  margin-bottom: 150px;
}
.education h1 {
  color: #333;
}
.education div {
  padding: 30px 10px;
  background-color: #4b5bd8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.education div * {
  color: #fff;
}
.education div img {
  width: 150px;
  filter: drop-shadow(8px 8px 25px rgba(51, 51, 51, 0.3));
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 120px 120px;
  gap: 25px;
  padding: 0 0;
}
.skills h1 {
  text-align: center;
  grid-column: span 5;
}
.skills div {
  text-align: center;
  background-color: #f4f4f4;
  position: relative;
  font-size: 80px;
  border-radius: 6px;
  transition: all 0.2s;
}
.skills div:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-color: #d0d0d0;
  transform: scale(1.2);
}
.skills div.html {
  color: rgb(255, 72, 0);
}
.skills div.css {
  color: rgb(36, 96, 226);
}
.skills div.js {
  color: rgb(245, 207, 40);
}
.skills div.sass {
  color: rgb(212, 102, 198);
}
.skills div.bootstrap {
  color: rgb(116, 13, 201);
}
.skills div.node {
  color: rgb(40, 206, 40);
}
.skills div.python {
  color: rgb(3, 118, 185);
}
.skills div.react {
  color: rgb(0, 195, 255);
}
.skills div.git {
  color: rgb(245, 59, 52);
}
.skills div.db {
  color: rgb(148, 148, 255);
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 200px 200px;
  gap: 15px;
  padding: 0 0;
  text-align: center;
  border-radius: 6px;
}
.works div {
  position: relative;
  background-color: #f4f4f4;
}
.works div img {
  width: 100%;
}
.works div:hover .works-links {
  opacity: 1;
}
.works div .works-links {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(19, 20, 46, 0.662745098);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  transition: all 0.4s;
  opacity: 0;
  border-radius: 6px;
}
.works div .works-links a {
  margin: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.works div .works-links a.p-button {
  position: relative;
}
.works div .works-links .p-button::after,
.works div .works-links .p-button::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  transform: translate(0%, -50%);
  background-color: #fff;
  transition: 0.3s;
}
.works div .works-links .p-button::after {
  left: 50%;
  bottom: 0%;
}
.works div .works-links .p-button::before {
  right: 50%;
  bottom: 0%;
}
.works div .works-links .p-button:hover:after,
.works div .works-links .p-button:hover:before {
  width: 60%;
}
.works div .works-links .repo-button {
  font-weight: lighter;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 8px;
}
.works div .works-links .repo-button:hover {
  transform: scale(1.2);
}

.contField {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 90%;
  margin: auto;
}
.contField .box {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  border: 0;
  width: 450px;
  border-radius: 5px;
  padding: 4px 15px 6px;
  font-size: 1em;
  cursor: text;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.contField .box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.contField .box:focus-within {
  background-color: rgba(0, 0, 0, 0.3);
}
.contField .box .input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  font-size: 1em;
  transition: all 0.2s;
  color: #eee;
  padding: 30px 0 10px;
  margin: -30px 0 -10px;
}
.contField .box .input::-webkit-input-placeholder {
  opacity: 0;
}
.contField .box .input::-moz-placeholder {
  color: transparent !important;
}
.contField .box textarea {
  resize: none;
  height: 150px;
}
.contField .box .input + label {
  transform-origin: left;
  color: rgba(238, 238, 238, 0.6666666667);
  cursor: text;
  font-size: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s;
}
.contField .box .input + label {
  transform: translate(0, 50%) scale(1);
  pointer-events: none;
}
.contField .box .input:not(:-moz-placeholder-shown) + label {
  transform: translate(0, 0) scale(0.8);
}
.contField .box .input:not(:-ms-input-placeholder) + label {
  transform: translate(0, 0) scale(0.8);
}
.contField .box .input:not(:placeholder-shown) + label,
.contField .box .input:focus + label {
  transform: translate(0, 0) scale(0.8);
}

.butt-focus {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #6A7BFF;
  cursor: pointer;
  padding: 16px 30px;
  font-size: 1em;
  border-radius: 10px;
  transition: 0.2s linear;
}

.butt-focus:hover {
  background-color: #4b5bd8;
}

.butt-focus:focus {
  background-color: #3747bb;
}

.butt-focus i {
  font-size: 1.3em;
}

@media only screen and (max-width: 830px) {
  .contField .box {
    width: 300px;
  }
}
.banner {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  background-color: rgba(54, 231, 38, 0.8156862745);
  color: rgb(255, 255, 255);
  gap: 10px;
  transform-origin: bottom;
  transition: 0.3s;
}
.banner .link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  cursor: pointer;
  line-height: 30px;
  transition: 0.3s;
}
.banner .link:hover {
  opacity: 0.9;
}
.banner i {
  font-size: 1.2rem;
}
.banner .close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background-color: rgba(40, 40, 40, 0.3);
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  transition: 0.3s;
}
.banner .close:hover {
  background-color: rgba(40, 40, 40, 0.5);
}
.banner .close i {
  pointer-events: none;
}

.banner > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 830px) {
  .announcement-cont {
    justify-content: flex-start;
  }
  .announcement-cont > div {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    padding-inline: 15px;
  }
}
.contact {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  gap: 0;
  padding: 15px 15px;
  background-color: #444;
  padding: 35px 0;
}
.contact * {
  color: #fff;
}
.contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 48px;
  height: 48px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 19.2px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #5a3b88;
}
.social-button--github::after {
  background: #5a3b88;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}

footer .social-button {
  background-color: #333;
}/*# sourceMappingURL=style.css.map */