.contact {
    @include grid(60% 40%, auto, 0, 15px, 15px);
    background-color: #444;

    padding: 35px 0;

    * {
        color: $white;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}