* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6, a, p {
    color: $black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-focus {
    color: $primary;
}

* {
    scroll-behavior: smooth;
}