header {
    width: 90%;
    margin: 0 auto;
    @include grid( 1fr 1fr, calc(100vh - 50px) );

    .header-content {
        height: 90%;
        @include flex-column-center;
        align-items: center;

        h1 {
            font-size: 42px;
            font-weight: 800;
        }        
    }

    .header-img {
        position: relative;
        width: 100%;
    }
}

/**
 * Responsive
 */
@media screen and (max-width: $responsive-max-width-medium) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto 90vh;

        .header-content {
            height: 100%;
            margin: 50px auto;
        }

        .header-img {
            height: 100%;
        }
    }
}

@media screen and (max-width: $responsive-max-width-tiny) {
    header {
        grid-template-rows: auto 70vh;
    }
}