header {
    width: 100%;
    height: calc(100vh - 60px);
    @include grid(1fr 1fr, auto, 30px, 0, 50px);

    .header-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;

        div {
            margin: 20px;
        }

        #typing {
            border-right: 3px solid $black;
            animation: typing infinite 1s;
        }
    }

    .header-img {
        position: relative;
    
        img {
            @include position-center;
            width: 100%;

            padding: 20px 0 40px 0;
            border-radius: 12px;

            filter: $drop-shadow;
        }
    }
}

#typing {
    display: inline-block;

    &::after {
        display: block;
        content: attr(data-text);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        font-weight: bolder;
    
        @media speech {
          display: none;
        }
    }
}

@keyframes typing {
    0% {
        border-right: 3px solid $black;
    }

    50% {
        border-right: 3px solid transparent;
    }

    100% {
        border-right: 3px solid $black;
    }
}