$primary: rgb(59, 105, 255);
$primary-hover: rgb(55, 95, 228);
$primary-active: rgb(46, 79, 187);

$success-colors: (
    'success': rgb(95, 255, 80),
    'hover': rgb(70, 231, 56),
    'active': rgb(66, 197, 55),
);

$danger-colors: (
    'danger': rgb(255, 59, 59),
    'hover': rgb(221, 49, 49),
    'active': rgb(184, 43, 43),
);

$warning-colors: (
    'warning': rgb(255, 243, 77),
    'hover': rgb(214, 203, 54),
    'active': rgb(216, 205, 48),
);

$black: #444;
$white: #FFF;
$gray: #F6F6F6;
$bg-color: rgb(241, 241, 241);

$google-blue: #4285f4;
$button-active-blue: #1669F2;

$social-button-colors: (
    'facebook': #3b5999,
    'twitter': #3776ff,
    'instagram': #e4405f,
    'github': #5a3b88,
    'linkedin': #0077b5,
);

$section-m: 30px; // padding
$section-mt: 60px; // padding-top
$img-radius: 190px;
$button-radius: 2px;
$transition: all .2s;

$box-shadow-img: 10px 10px 20px rgba(4, 8, 63, 0.40);

$new-section-white: $section-m 5% $section-m 5%; // This is used with 'Padding' on new sec

$responsive-max-width-medium: 767px;
$responsive-max-width-tiny: 481px;

@mixin grid($cols, $rows) {
    display: grid;
    grid-template-columns: $cols;
    grid-template-rows: $rows;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}