.works {
    @include grid(1fr 1fr 1fr, 50px 200px 200px, 15px);
    text-align: center;
    border-radius: $border-radius / 2;

    div {
        position: relative;
        background-color: $gray;

        img {
            width: 100%;
        }

        &:hover .works-links{
            opacity: 1;
        }
        
        .works-links {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #13142ea9;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 15;
            transition: all 0.4s;
            opacity: 0;
            border-radius: $border-radius / 2;

            a {
                margin: 15px;
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                transition: all 0.3s;
            }

            a.p-button {
                position: relative;
            }

            .p-button::after,
            .p-button::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 0;
                
                transform: translate(0%, -50%);
                background-color: #fff;
                transition: 0.3s;
            }

            .p-button::after {
                left: 50%;
                bottom: 0%;
            }

            .p-button::before {
                right: 50%;
                bottom: 0%;
            }

            .p-button:hover:after,
            .p-button:hover:before {
                width: 60%;
            }

            .repo-button {
                font-weight: lighter;
                border-radius: 3px;
                border: 1px solid #fff;
                padding: 8px;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}